---
import ProjectCard from "../../components/ProjectCard.astro"
import TechCard from "../../components/TechCard.astro"
import Layout from "../../layouts/Layout.astro"

import myLeisureMain from "./../../images/projects/main-page/my-leisure/ro/main.jpg"
import myLeisureMainDark from "./../../images/projects/main-page/my-leisure/ro/main-dark.jpg"

import newFurnitureMain from "./../../images/projects/main-page/new-furniture/ro/main.jpg"
import newFurnitureMainDark from "./../../images/projects/main-page/new-furniture/ro/main-dark.jpg"

import playgroundMain from "./../../images/projects/page-images/playground/main.jpg"

import javaScript from "./../../images/tech/javascript.svg"
import html from "./../../images/tech/html-5.svg"
import css from "./../../images/tech/css-3.svg"
import sql from "./../../images/tech/sql.svg"
import typescript from "./../../images/tech/typescript.svg"
import react from "./../../images/tech/react.svg"
import tailwind from "./../../images/tech/tailwind.svg"
import mysql from "./../../images/tech/mysql.svg"
import nextAuth from "./../../images/tech/next-auth.svg"
import drizzle from "./../../images/tech/drizzle.svg"
import astro from "./../../images/tech/astro.svg"
import nextjs from "./../../images/tech/nextjs.svg"
import sass from "./../../images/tech/sass.svg"
import threejs from "./../../images/tech/threejs.svg"
import gsap from "./../../images/tech/gsap.svg"

import myPic from "./../../images/my-pic.jpg"

import "@fontsource/roboto/500.css"
import "@fontsource/roboto/700.css"
import "@fontsource/roboto/900.css"
import "@fontsource/merriweather/700.css"
import "@fontsource/merriweather/900.css"

import { Image } from "astro:assets"

const base = [
  {
    name: "JavaScript",
    url: "https://developer.mozilla.org/docs/Web/JavaScript",
    image: javaScript,
  },
  {
    name: "HTML",
    url: "https://developer.mozilla.org/docs/Web/HTML",
    image: html,
  },
  {
    name: "CSS",
    url: "https://developer.mozilla.org/docs/Web/CSS",
    image: css,
  },
  {
    name: "SQL",
    url: "https://www.w3schools.com/sql/sql_intro.asp",
    image: sql,
  },
]
const supersets = [
  {
    name: "Typescript",
    url: "https://www.typescriptlang.org",
    image: typescript,
  },
  {
    name: "React",
    url: "https://react.dev/learn",
    image: react,
  },
  {
    name: "Tailwind",
    url: "https://tailwindcss.com/docs/installation",
    image: tailwind,
  },
  {
    name: "MySQL",
    url: "https://www.mysql.com/",
    image: mysql,
  },
]
const frameworks = [
  {
    name: "Astro",
    url: "https://docs.astro.build/getting-started/",
    image: astro,
  },
  {
    name: "Next.js",
    url: "https://nextjs.org/docs",
    image: nextjs,
  },
  {
    name: "SASS",
    url: "https://sass-lang.com/documentation/",
    image: sass,
  },
  {
    name: "Drizzle",
    url: "https://orm.drizzle.team/docs/overview",
    image: drizzle,
  },
]

const myLeisureTech = [
  {
    name: "Typescript",
    url: "https://www.typescriptlang.org",
    image: typescript,
  },
  {
    name: "Next.js",
    url: "https://nextjs.org/docs",
    image: nextjs,
  },
  {
    name: "Tailwind",
    url: "https://tailwindcss.com/docs/installation",
    image: tailwind,
  },
  {
    name: "MySQL",
    url: "https://www.mysql.com/",
    image: mysql,
  },
  {
    name: "NextAuth",
    url: "https://next-auth.js.org/getting-started/introduction",
    image: nextAuth,
  },
  {
    name: "Drizzle",
    url: "https://orm.drizzle.team/docs/overview",
    image: drizzle,
  },
]

const newFurnitureTech = [
  {
    name: "Typescript",
    url: "https://www.typescriptlang.org",
    image: typescript,
  },
  {
    name: "Next.js",
    url: "https://nextjs.org/docs",
    image: nextjs,
  },
  {
    name: "Tailwind",
    url: "https://tailwindcss.com/docs/installation",
    image: tailwind,
  },
  {
    name: "MySQL",
    url: "https://www.mysql.com/",
    image: mysql,
  },
  {
    name: "NextAuth",
    url: "https://next-auth.js.org/getting-started/introduction",
    image: nextAuth,
  },
  {
    name: "Drizzle",
    url: "https://orm.drizzle.team/docs/overview",
    image: drizzle,
  },
]

const playgroundTech = [
  {
    name: "Typescript",
    url: "https://www.typescriptlang.org",
    image: typescript,
  },
  {
    name: "Astro",
    url: "https://docs.astro.build/getting-started/",
    image: astro,
  },
  {
    name: "ThreeJS",
    url: "https://threejs.org/docs/index.html#manual/en/introduction/Installation",
    image: threejs,
  },
  {
    name: "SASS",
    url: "https://sass-lang.com/documentation/",
    image: sass,
  },
  {
    name: "GSAP",
    url: "https://gsap.com/docs/v3/",
    image: gsap,
  },
]

const myLeisureImages = { dark: myLeisureMainDark, light: myLeisureMain }
const newFurnitureImages = {
  dark: newFurnitureMainDark,
  light: newFurnitureMain,
}
const playgroundImages = { dark: playgroundMain, light: playgroundMain }
---

<Layout title="Vladislav Iujev" lang="ro">
  <main>
    <section class="intro">
      <div class="line">
        <p class="line_1">Salut, sunt Vlad Iujev</p>
        <p class="line_2">Sunt dezvoltator <span>Front-end</span></p>
        <p class="line_3">
          Sunt pasionat de dezvoltarea web și sunt întotdeauna nerăbdător să
          creez mai mult, atât pentru beneficiul altora, cât și pentru propria
          mea creștere personală.
        </p>
      </div>
      <div class="image">
        <Image src={myPic} alt={"Imagine de profil"} />
      </div>
    </section>

    <section class="projects">
      <h1>Proiecte Recente</h1>
      <p class="projects_description">
        Chiar dacă am mai multă experiență cu Next.js, nu mă limitez doar la
        acest framework sau la această bibliotecă. Sunt capabil să învăț și să
        folosesc orice instrument în funcție de necesități.
      </p>
      <ul class="projects_cards">
        <li>
          <ProjectCard
            locale="ro"
            title="My Leisure"
            images={myLeisureImages}
            siteLink="#"
            githubLink="#"
            tech={myLeisureTech}
            pageLink="/ro/my-leisure"
            description="Descoperă cele mai bune filme, seriale și cărți, toate într-un singur loc și adaugă media care îți place în marcaje."
          />
        </li>
        <li>
          <ProjectCard
            locale="ro"
            title="New Furniture"
            images={newFurnitureImages}
            siteLink="#"
            githubLink="#"
            tech={newFurnitureTech}
            pageLink="/ro/new-furniture"
            description="Magazin de mobilă complet funcțional și complet echipat."
            flip={true}
          />
        </li>
        <li>
          <ProjectCard
            locale="ro"
            title="The Playground"
            images={playgroundImages}
            siteLink="#"
            githubLink="#"
            tech={playgroundTech}
            pageLink="/ro/playground"
            description="Lucrare în curs. În prezent, acest site web doar prezintă diverse animații, dar planific să transform aceste animații în jocuri interactive."
          />
        </li>
      </ul>
    </section>

    <section class="tech">
      <h1>Teh-stivă</h1>
      <p class="tech_description">
        Mă specializez în principal în Front-end, deși am și o anumită expertiză
        în Back-end.
      </p>
      <ul class="tech_cards">
        <TechCard tech={base} />
        <TechCard tech={supersets} />
        <TechCard tech={frameworks} />
      </ul>
    </section>

    <section class="contact">
      <a class="contact_link" href="/ro/contacts">
        &#10095;&#10095; Сontactează-mă</a
      >
    </section>
  </main>
</Layout>

<style lang="scss">
  main {
    display: grid;

    color: var(--text-primary);
    font-family: Roboto, sans-serif;
  }
  h1 {
    font-size: var(--font-size-fluid-2);
    font-weight: var(--font-weight-9);
    line-height: var(--font-lineheight-0);

    font-family: "Merriweather", serif;
    text-transform: uppercase;
  }

  .intro {
    display: grid;
    justify-content: center;
    gap: 0 4rem;

    min-height: calc(100vh - 6rem);
    min-height: calc(100dvh - 6rem);
    background-image: url("/bg-2.jpg"), var(--splash);

    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-blend-mode: var(--blend-mode);

    .line {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      justify-content: center;
      font-family: "Merriweather", serif;

      &_1 {
        font-size: var(--font-size-fluid-3);
        font-weight: var(--font-weight-9);
        line-height: var(--font-lineheight-0);

        text-wrap: nowrap;

        opacity: 0;
        animation: fadeIn 500ms forwards;

        margin-bottom: var(--gap-xs);
      }

      &_2 {
        font-size: var(--font-size-fluid-2);
        font-weight: var(--font-weight-7);
        line-height: var(--font-lineheight-1);

        margin-bottom: var(--gap-m);

        opacity: 0;
        animation: fadeIn 500ms 1000ms forwards;

        span {
          font-weight: var(--font-weight-9);
          text-wrap: nowrap;
        }
      }

      &_3 {
        font-size: var(--font-size-2);
        font-weight: var(--font-weight-5);
        line-height: var(--font-lineheight-4);
        letter-spacing: var(--font-letterspacing-1);
        font-family: Roboto, sans-serif;
        color: var(--text-heading);

        display: none;

        align-self: start;
        max-inline-size: var(--size-content-3);
        text-wrap: wrap;

        opacity: 0;
        animation: fadeIn 1500ms 1500ms forwards;

        @media screen and (min-width: 1280px) {
          display: block;
        }
      }

      @media screen and (min-width: 1280px) {
        justify-content: center;
        justify-self: end;
      }
    }

    .image {
      justify-self: center;
      padding: 1.5em;

      display: grid;

      filter: contrast(1.1);

      img {
        box-shadow: var(--shadow-2);
        border-radius: 1.5rem;

        align-self: start;
      }

      @media screen and (min-width: 1280px) {
        justify-self: start;
      }
    }

    @media screen and (min-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }

  .projects {
    display: grid;

    padding: 1rem;

    h1 {
      margin-top: var(--gap-l);
      margin-bottom: var(--gap-s);
      margin-left: 1em;
    }

    &_description {
      align-self: start;
      font-size: var(--font-size-1);
      line-height: var(--font-lineheight-4);
      font-weight: var(--font-weight-5);
      letter-spacing: var(--font-letterspacing-1);
      color: var(--text-secondary);

      max-inline-size: 75ch;

      margin-left: 2em;
      margin-bottom: var(--gap-l);
    }

    &_cards {
      display: grid;
      gap: var(--gap-xxl);
    }

    li {
      margin-top: var(--gap-xl);
    }
  }

  .tech {
    padding: 1rem;
    justify-self: center;

    display: grid;
    margin-top: var(--gap-xl);

    min-width: 50vw;

    h1 {
      margin-left: 1em;
      margin-bottom: var(--gap-s);
    }

    &_description {
      align-self: start;
      font-size: var(--font-size-1);
      line-height: var(--font-lineheight-4);
      font-weight: var(--font-weight-5);
      letter-spacing: var(--font-letterspacing-1);
      color: var(--text-secondary);

      max-inline-size: 75ch;

      margin-left: 2em;
      margin-bottom: var(--gap-xxl);
    }

    &_cards {
      display: grid;
      gap: var(--gap-xl);
    }
  }

  .contact {
    display: grid;
    justify-self: center;
    align-items: start;
    align-content: start;

    margin: 6em 0;

    &_link {
      font-size: var(--font-size-fluid-2);
      font-weight: var(--font-weight-9);
      color: var(--text-impact);
      text-transform: uppercase;
      font-family: "Merriweather", serif;

      border: solid 1px var(--stone-4);

      padding: 1.5rem 3rem;

      transition:
        scale 150ms,
        transform 150ms;
      &:hover {
        scale: 1.05;
        transform: translateY(-5%);
      }
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
</style>
