---
import ProjectCard from "../components/ProjectCard.astro"
import TechCard from "../components/TechCard.astro"
import Layout from "../layouts/Layout.astro"

import myLeisureImg from "./../images/projects/my-leisure.jpg"
import newFurnitureImg from "./../images/projects/new-furniture.jpg"
import playgroundImg from "./../images/projects/playground.jpg"

import javaScript from "./../images/tech/javascript.svg"
import html from "./../images/tech/html-5.svg"
import css from "./../images/tech/css-3.svg"
import sql from "./../images/tech/sql.svg"
import typescript from "./../images/tech/typescript.svg"
import react from "./../images/tech/react.svg"
import tailwind from "./../images/tech/tailwind.svg"
import mysql from "./../images/tech/mysql.svg"
import nextAuth from "./../images/tech/next-auth.svg"
import drizzle from "./../images/tech/drizzle.svg"
import astro from "./../images/tech/astro.svg"
import nextjs from "./../images/tech/nextjs.svg"
import sass from "./../images/tech/sass.svg"
import threejs from "./../images/tech/threejs.svg"
import gsap from "./../images/tech/gsap.svg"

import stock from "./../images/stock.jpg"

import "@fontsource/roboto/500.css"
import "@fontsource/roboto/700.css"
import "@fontsource/roboto/900.css"
import "@fontsource/merriweather/700.css"
import "@fontsource/merriweather/900.css"

import { Image } from "astro:assets"

const base = [
  { name: "JavaScript", image: javaScript },
  { name: "HTML", image: html },
  { name: "CSS", image: css },
  { name: "SQL", image: sql },
]
const supersets = [
  { name: "Typescript", image: typescript },
  { name: "React", image: react },
  { name: "Tailwind", image: tailwind },
  { name: "MySQL", image: mysql },
]
const frameworks = [
  { name: "Astro", image: astro },
  { name: "Next.js", image: nextjs },
  { name: "SASS", image: sass },
  { name: "Drizzle", image: drizzle },
]

const myLeisure = [
  { name: "TypeScript", image: typescript },
  { name: "Next.js", image: nextjs },
  { name: "Tailwind", image: tailwind },
]

const newFurniture = [
  { name: "TypeScript", image: typescript },
  { name: "Next.js", image: nextjs },
  { name: "Tailwind", image: tailwind },
  { name: "MySQL", image: mysql },
  { name: "NextAuth", image: nextAuth },
  { name: "Drizzle", image: drizzle },
]

const playground = [
  { name: "TypeScript", image: typescript },
  { name: "Astro", image: astro },
  { name: "ThreeJS", image: threejs },
  { name: "GSAP", image: gsap },
]
---

<Layout title="Vladislav Iujev">
  <main>
    <section class="intro">
      <div class="line">
        <p class="line_1">Hi, I'm Vlad Iujev</p>
        <p class="line_2">I'm a <span>Front-end</span> developer</p>
        <p class="line_3">
          I genuinely enjoy web development and am always eager to create more,
          both for the benefit of others and my own personal growth.
        </p>
      </div>
      <div class="image">
        <Image src={stock} alt={"Profile image"} />
      </div>
    </section>

    <section class="projects">
      <h1>RECENT PROJECTS</h1>
      <p class="projects_description">
        "While Next.js is my main proficiency, I do not limit myself to just one
        framework or library. I'm able to learn and utilize any tool as needed.
      </p>
      <ul class="projects_cards">
        <li>
          <ProjectCard
            title="MY LEISURE"
            image={myLeisureImg}
            siteLink="#"
            githubLink="#"
            tech={myLeisure}
            description="This app allows you to scroll through large database of movies and books to find something to watch or read tonight."
          />
        </li>
        <li>
          <ProjectCard
            title="NEW FURNITURE"
            image={newFurnitureImg}
            siteLink="#"
            githubLink="#"
            tech={newFurniture}
            description="Marketplace where you can find and buy furniture."
            flip={true}
          />
        </li>
        <li>
          <ProjectCard
            title="PLAYGROUND"
            image={playgroundImg}
            siteLink="#"
            githubLink="#"
            tech={playground}
            description="This is my project where I experiment with WebGL using ThreeJS library and GSAP."
          />
        </li>
      </ul>
    </section>

    <section class="tech">
      <h1>TECH-STACK</h1>
      <p class="tech_description">
        I primarily specialize on Front-end, although I also possess some
        proficiency in Back-end.
      </p>
      <ul class="tech_cards">
        <TechCard tech={base} />
        <TechCard tech={supersets} />
        <TechCard tech={frameworks} />
      </ul>
    </section>

    <section class="contact">
      <a class="contact_link" href="#"> &#10095;&#10095; get in touch</a>
    </section>
  </main>
</Layout>

<style lang="scss">
  main {
    display: grid;
    gap: 6rem;

    color: var(--stone-12);
    // overflow-x: clip;
    font-family: Roboto, sans-serif;
  }
  h1 {
    font-size: var(--font-size-fluid-2);
    font-weight: var(--font-weight-9);
    line-height: var(--font-lineheight-0);

    padding-left: 2rem;

    font-family: "Merriweather", serif;
  }
  .intro {
    display: grid;
    justify-content: center;
    gap: 0 4rem;

    min-height: calc(100vh - 6rem);
    min-height: calc(100dvh - 6rem);
    background-image: url("/bg-2.jpg"), var(--gradient-16);

    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-blend-mode: hard-light;

    .line {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      padding-top: 4rem;
      gap: 0.75rem;
      justify-content: center;
      font-family: "Merriweather", serif;

      &_1 {
        font-size: var(--font-size-fluid-3);
        font-weight: var(--font-weight-9);
        line-height: var(--font-lineheight-0);

        text-wrap: nowrap;

        opacity: 0;
        animation: fadeIn 500ms forwards;
      }

      &_2 {
        font-size: var(--font-size-fluid-2);
        font-weight: var(--font-weight-7);
        line-height: var(--font-lineheight-1);

        opacity: 0;
        animation: fadeIn 500ms 1000ms forwards;

        span {
          font-weight: var(--font-weight-9);
          text-wrap: nowrap;
        }
      }

      &_3 {
        padding-top: 1.5em;
        font-size: var(--font-size-2);
        font-weight: var(--font-weight-5);
        line-height: var(--font-lineheight-4);
        letter-spacing: var(--font-letterspacing-1);
        font-family: Roboto, sans-serif;
        color: var(--stone-10);

        display: none;

        align-self: start;
        max-width: 60ch;
        text-wrap: wrap;

        opacity: 0;
        animation: fadeIn 1500ms 1500ms forwards;

        @media screen and (min-width: 1280px) {
          display: block;
        }
      }

      @media screen and (min-width: 1280px) {
        justify-content: center;
        justify-self: end;
      }
    }

    .image {
      justify-self: center;
      padding: 1.5em;

      display: grid;

      filter: contrast(1.1);

      img {
        box-shadow: var(--shadow-2);
        border-radius: 1.5rem;

        align-self: start;
      }

      @media screen and (min-width: 1280px) {
        justify-self: start;
      }
    }

    @media screen and (min-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }

  .projects {
    display: grid;
    gap: 2rem;

    padding: 1rem;
    &_description {
      align-self: start;
      font-size: var(--font-size-1);
      line-height: var(--font-lineheight-4);
      font-weight: var(--font-weight-5);
      letter-spacing: var(--font-letterspacing-1);
      color: var(--stone-10);

      max-width: 75ch;
    }

    &_cards {
      display: grid;
    }

    li {
      padding: 3rem 0;
    }
    li:nth-child(2) {
      border-top: solid 1px var(--stone-3);
      border-bottom: solid 1px var(--stone-3);
    }
  }

  .tech {
    padding: 1rem;
    justify-self: center;

    display: grid;
    gap: 2rem;

    min-width: 50vw;

    &_description {
      align-self: start;
      font-size: var(--font-size-1);
      line-height: var(--font-lineheight-4);
      font-weight: var(--font-weight-5);
      letter-spacing: var(--font-letterspacing-1);
      color: var(--stone-10);

      max-width: 75ch;
    }

    &_cards {
      display: grid;
      gap: 2rem;
    }
  }

  .contact {
    display: grid;
    justify-self: center;
    align-items: start;
    align-content: start;

    margin-bottom: 8rem;

    &_link {
      font-size: var(--font-size-fluid-2);
      font-weight: var(--font-weight-9);
      color: var(--stone-11);
      text-transform: uppercase;
      font-family: "Merriweather", serif;

      border: solid 1px var(--stone-4);

      padding: 1.5rem 3rem;

      transition:
        scale 150ms,
        transform 150ms;
      &:hover {
        scale: 1.05;
        transform: translateY(-5%);
      }
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
</style>
