---
import ProjectCard from "../components/ProjectCard.astro"
import TechCard from "../components/TechCard.astro"
import Layout from "../layouts/Layout.astro"

import myLeisureImg from "./../images/projects/my-leisure.jpg"
import newFurnitureImg from "./../images/projects/new-furniture.jpg"
import playgroundImg from "./../images/projects/playground.jpg"

import javaScript from "./../images/tech/javascript.svg"
import html from "./../images/tech/html-5.svg"
import css from "./../images/tech/css-3.svg"
import sql from "./../images/tech/sql.svg"
import typescript from "./../images/tech/typescript.svg"
import react from "./../images/tech/react.svg"
import tailwind from "./../images/tech/tailwind.svg"
import mysql from "./../images/tech/mysql.svg"
import nextAuth from "./../images/tech/next-auth.svg"
import drizzle from "./../images/tech/drizzle.svg"
import astro from "./../images/tech/astro.svg"
import nextjs from "./../images/tech/nextjs.svg"
import sass from "./../images/tech/sass.svg"
import threejs from "./../images/tech/threejs.svg"
import gsap from "./../images/tech/gsap.svg"

const base = [
  { name: "JavaScript", image: javaScript },
  { name: "HTML", image: html },
  { name: "CSS", image: css },
  { name: "SQL", image: sql },
]
const supersets = [
  { name: "Typescript", image: typescript },
  { name: "React", image: react },
  { name: "Tailwind", image: tailwind },
  { name: "MySQL", image: mysql },
]
const frameworks = [
  { name: "Astro", image: astro },
  { name: "Next.js", image: nextjs },
  { name: "SASS", image: sass },
  { name: "Drizzle", image: drizzle },
]

const myLeisure = [
  { name: "TypeScript", image: typescript },
  { name: "Next.js", image: nextjs },
  { name: "Tailwind", image: tailwind },
]

const newFurniture = [
  { name: "TypeScript", image: typescript },
  { name: "Next.js", image: nextjs },
  { name: "Tailwind", image: tailwind },
  { name: "MySQL", image: mysql },
  { name: "NextAuth", image: nextAuth },
  { name: "Drizzle", image: drizzle },
]

const playground = [
  { name: "TypeScript", image: typescript },
  { name: "Astro", image: astro },
  { name: "ThreeJS", image: threejs },
  { name: "GSAP", image: gsap },
]
---

<Layout title="Vladislav Iujev">
  <main>
    <section class="intro">
      <div class="lines_image">
        <div class="lines">
          <p class="line-1">Hi!</p>
          <p class="line-2">I'm Vlad</p>
        </div>
        <div class="image"></div>
      </div>
      <p class="line-3"><span>Specialty:</span> Front-end</p>
    </section>

    <section class="projects">
      <h2>RECENT PROJECTS</h2>
      <p class="projects_description">
        I am more proficient with Next.js, but I don't limit myself to just one
        framework or library. I'm adaptable and able to learn and utilize any
        tool as needed.
      </p>
      <ul class="projects_cards">
        <ProjectCard
          title="MY LEISURE"
          image={myLeisureImg}
          siteLink="#"
          githubLink="#"
          tech={myLeisure}
          description="This app allows you to scroll through large database of movies and books to find something to watch or read tonight."
        />
        <ProjectCard
          title="NEW FURNITURE"
          image={newFurnitureImg}
          siteLink="#"
          githubLink="#"
          tech={newFurniture}
          description="Marketplace where you can find and buy furniture."
        />
        <ProjectCard
          title="PLAYGROUND"
          image={playgroundImg}
          siteLink="#"
          githubLink="#"
          tech={playground}
          description="This is my project where I experiment with WebGL using ThreeJS library and GSAP."
        />
      </ul>
    </section>

    <section class="tech">
      <h2>TECH-STACK</h2>
      <p class="tech_description">
        I primarily specialize on Front-end, although I also possess some
        proficiency in Back-end.
      </p>
      <ul class="tech_cards">
        <TechCard tech={base} />
        <TechCard tech={supersets} />
        <TechCard tech={frameworks} />
      </ul>
    </section>

    <section>
      <h2>Get in touch</h2>
      <p>Post form</p>
    </section>
  </main>
</Layout>

<style lang="scss">
  main {
    padding: 1rem;

    display: grid;
    gap: 6rem;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.25;

    padding-left: 2rem;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .intro {
    --line1-chars: 3;
    --line2-chars: 7;
    --line3-chars: 20;

    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    min-width: 50rem;

    font-family: Arial, Helvetica, sans-serif;
  }

  .lines_image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 4rem;
    justify-content: center;
    min-width: 50rem;
  }
  .lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .line-1 {
    --line-width: 8rem;
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    animation:
      typewriter 200ms steps(var(--line1-chars)) 500ms 1 normal both,
      blinkTextCursor 500ms steps(var(--line1-chars)) var(--line1-chars) normal;

    font-size: 6rem;
    font-weight: 600;
    line-height: 1;
  }

  .line-2 {
    --line-width: 23rem;
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    animation:
      typewriter 1s steps(var(--line2-chars)) calc((var(--line1-chars)) * 500ms)
        1 normal both,
      blinkTextCursor 500ms steps(var(--line2-chars))
        calc((var(--line1-chars)) * 500ms) calc(var(--line1-chars) + 2) normal;

    font-size: 6rem;
    font-weight: 600;
    line-height: 1;
  }

  .image {
    border: 1px solid black;
    border-radius: 100rem;
    background-image: url("/stock-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 20rem;
    height: 20rem;

    opacity: 0;
    animation: fadeIn 3s forwards;
  }
  .line-3 {
    --line-width: 38rem;
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    animation:
      typewriter 2s steps(var(--line3-chars))
        calc((var(--line2-chars) + 1) * 500ms) 1 normal both,
      blinkTextCursor 500ms steps(var(--line3-chars))
        calc((var(--line2-chars) + 1) * 500ms) 7 normal;

    font-size: 4rem;
    font-weight: 600;
    line-height: 1.3;

    align-self: start;

    span {
      font-weight: 500;
    }
  }

  .tech {
    padding: 2rem 5rem;

    display: grid;
    gap: 3rem;

    min-height: 90vh;

    &_description {
      align-self: start;
      font-size: 1.4rem;

      max-width: 60ch;
    }

    &_cards {
      display: grid;
      gap: 2rem;
    }
  }

  .projects {
    padding: 2rem;

    display: grid;
    justify-content: center;
    gap: 2rem;

    min-height: 90vh;

    &_description {
      align-self: start;
      font-size: 1.4rem;

      max-width: 60ch;
    }

    &_cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      gap: 2rem;
    }
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: var(--line-width);
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(0, 0, 0, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
</style>
