---
import { Image } from "astro:assets"
import Layout from "../layouts/Layout.astro"

import typescript from "./../images/tech/typescript.svg"
import tailwind from "./../images/tech/tailwind.svg"
import mysql from "./../images/tech/mysql.svg"
import nextAuth from "./../images/tech/next-auth.svg"
import drizzle from "./../images/tech/drizzle.svg"
import nextjs from "./../images/tech/nextjs.svg"

import newFurnitureMain from "./../images/projects/page-images/new-furniture/en/main.jpg"
import newFurnitureMainDark from "./../images/projects/page-images/new-furniture/en/main-dark.jpg"
import newFurnitureCatalog from "./../images/projects/page-images/new-furniture/en/catalog.jpg"
import newFurnitureCatalogDark from "./../images/projects/page-images/new-furniture/en/catalog-dark.jpg"
import newFurnitureCart from "./../images/projects/page-images/new-furniture/en/cart.jpg"
import newFurnitureCartDark from "./../images/projects/page-images/new-furniture/en/cart-dark.jpg"
import newFurnitureFavs from "./../images/projects/page-images/new-furniture/en/favs.jpg"
import newFurnitureFavsDark from "./../images/projects/page-images/new-furniture/en/favs-dark.jpg"
import Carousel from "../components/Carousel.astro"

import "@fontsource/roboto/500.css"
import "@fontsource/roboto/700.css"
import "@fontsource/roboto/900.css"
import "@fontsource/merriweather/700.css"
import "@fontsource/merriweather/900.css"

const newFurnitureSlides = [
  newFurnitureMain,
  newFurnitureMainDark,
  newFurnitureCatalog,
  newFurnitureCatalogDark,
  newFurnitureCart,
  newFurnitureCartDark,
  newFurnitureFavs,
  newFurnitureFavsDark,
]

const tech = [
  {
    name: "Typescript",
    url: "https://www.typescriptlang.org",
    image: typescript,
  },
  {
    name: "Next.js",
    url: "https://nextjs.org/docs",
    image: nextjs,
  },
  {
    name: "Tailwind",
    url: "https://tailwindcss.com/docs/installation",
    image: tailwind,
  },
  {
    name: "MySQL",
    url: "https://www.mysql.com/",
    image: mysql,
  },
  {
    name: "NextAuth",
    url: "https://next-auth.js.org/getting-started/introduction",
    image: nextAuth,
  },
  {
    name: "Drizzle",
    url: "https://orm.drizzle.team/docs/overview",
    image: drizzle,
  },
]
---

<Layout title="Project: New Furniture" lang="en">
  <main>
    <section class="info">
      <div class="intro">
        <a class="back" href="/">&#10094;&#10094; Go back</a>
        <h1>New Furniture</h1>
        <div class="links" transition:name={`New Furniture-links`}>
          <a href="#"> &#10095;&#10095; Live link</a>
          <a href="#"> &#10095;&#10095; Github repo</a>
        </div>
        <div class="description" transition:name="New Furniture-description">
          <p>Fully functional feature-complete furniture store.</p>
          <h2>Project features:</h2>
          <ul>
            <li>Extensible database (PostgreSQL DB deployed on Supabase)</li>
            <li>
              User data is securely stored in a PostgreSQL database (deployed on
              Supabase).
            </li>
            <li>
              Made with NextJS 14 and deployed on Vercel (SSR, SSG and edge
              runtime)
            </li>
            <li>Authentication (NextAuth)</li>
            <li>Basic and extended search</li>
            <li>Favorites</li>
            <li>Cart</li>
          </ul>
        </div>
      </div>
      <Carousel title="New Furniture" images={newFurnitureSlides} />
    </section>

    <section class="tech">
      <ul transition:name="New Furniture-tech">
        {
          tech.map((item) => (
            <li>
              <a href={item.url} title={item.name} target="_blank">
                <Image src={item.image} alt={item.name} loading="lazy" />
                <p>{item.name}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<style lang="scss">
  main {
    display: grid;
    min-height: 90vh;

    color: var(--text-primary);
    font-family: Roboto, sans-serif;

    padding: 0 2rem;

    gap: var(--gap-xxl);
  }

  h1 {
    font-size: var(--font-size-fluid-3);
    font-weight: var(--font-weight-9);
    line-height: var(--font-lineheight-0);

    font-family: "Merriweather", serif;
  }

  .info {
    display: grid;
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .intro {
    display: grid;

    align-items: start;
    align-content: start;

    margin-top: var(--gap-xxl);

    color: var(--text-primary);
    h1 {
      margin-bottom: var(--gap-s);
    }

    .back {
      justify-self: start;

      font-size: var(--font-size-fluid-1);
      font-weight: var(--font-weight-9);
      color: var(--text-secondary);

      background-color: var(--bg);
      border: none;
      padding: 0.75rem;

      cursor: pointer;
    }
    .links {
      display: flex;
      gap: var(--gap-l);

      margin-bottom: var(--gap-xl);

      a {
        padding: 1em;
        min-width: 9rem;

        text-align: center;

        border: solid 1px var(--bg-button);

        border-radius: 0.5rem;

        box-shadow: var(--shadow-2);

        transition:
          color 200ms,
          scale 150ms;
        &:hover {
          color: var(--text-secondary);
        }

        &:active {
          scale: 0.95;
        }
      }
    }

    .description {
      padding-left: var(--gap-s);
      font-size: var(--font-size-1);
      font-weight: var(--font-weight-5);
      line-height: var(--font-lineheight-4);

      max-inline-size: 60ch;

      p {
        margin-bottom: var(--gap-l);
        color: var(--text-secondary);
      }
      h2 {
        font-size: var(--font-size-fluid-1);
      }

      ul {
        display: grid;
        gap: var(--gap-xs);
        padding-left: var(--gap-m);
        max-inline-size: 60ch;

        li {
          list-style: inside;
        }
      }
    }
  }

  .tech {
    display: grid;
    gap: 2rem;
    font-family: Roboto, sans-serif;

    margin-bottom: var(--gap-xxl);
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, var(--size-fluid-7));
      grid-template-rows: repeat(auto-fit, var(--size-fluid-7));
      gap: var(--gap-xl);
      justify-content: center;
      align-items: center;
      justify-items: center;

      @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(3, var(--size-fluid-7));
      }

      @media screen and (max-width: 480px) {
        grid-template-columns: repeat(2, var(--size-fluid-7));
      }

      li {
        --_transition: 200ms;
        a {
          display: grid;
          justify-items: center;
          gap: var(--gap-xs);
          width: var(--size-fluid-7);
          aspect-ratio: 1;

          box-shadow: var(--shadow-2);

          padding: 0.5em;

          border-radius: 5px;

          transition: scale var(--_transition);

          p {
            font-size: var(--font-size-fluid-0);
            transition: scale var(--_transition);
          }
          img {
            width: var(--size-fluid-5);
            aspect-ratio: 1;
            transition: scale var(--_transition);
          }

          &:hover {
            scale: 0.9;
          }
          &:active {
            scale: 0.85;
          }
          &:hover p,
          &:hover img {
            scale: 1.1;
          }

          &:active p,
          &:active img {
            scale: 1.15;
          }
        }
      }
    }
  }
</style>
