---
import ProjectCard from "../../components/ProjectCard.astro"
import TechCard from "../../components/TechCard.astro"
import Layout from "../../layouts/Layout.astro"

import myLeisureMain from "./../../images/projects/main-page/my-leisure/ru/main.jpg"
import myLeisureMainDark from "./../../images/projects/main-page/my-leisure/ru/main-dark.jpg"

import newFurnitureMain from "./../../images/projects/main-page/new-furniture/ru/main.jpg"
import newFurnitureMainDark from "./../../images/projects/main-page/new-furniture/ru/main-dark.jpg"

import playgroundMain from "./../../images/projects/page-images/playground/main.jpg"

import javaScript from "./../../images/tech/javascript.svg"
import html from "./../../images/tech/html-5.svg"
import css from "./../../images/tech/css-3.svg"
import sql from "./../../images/tech/sql.svg"
import typescript from "./../../images/tech/typescript.svg"
import react from "./../../images/tech/react.svg"
import tailwind from "./../../images/tech/tailwind.svg"
import mysql from "./../../images/tech/mysql.svg"
import nextAuth from "./../../images/tech/next-auth.svg"
import drizzle from "./../../images/tech/drizzle.svg"
import astro from "./../../images/tech/astro.svg"
import nextjs from "./../../images/tech/nextjs.svg"
import sass from "./../../images/tech/sass.svg"
import threejs from "./../../images/tech/threejs.svg"
import gsap from "./../../images/tech/gsap.svg"
import postgres from "./../../images/tech/postgresql.svg"

import myPic from "./../../images/my-pic.jpg"

import "@fontsource/roboto/500.css"
import "@fontsource/roboto/700.css"
import "@fontsource/roboto/900.css"
import "@fontsource/merriweather/700.css"
import "@fontsource/merriweather/900.css"

import { Image } from "astro:assets"

const base = [
  {
    name: "JavaScript",
    url: "https://developer.mozilla.org/docs/Web/JavaScript",
    image: javaScript,
  },
  {
    name: "HTML",
    url: "https://developer.mozilla.org/docs/Web/HTML",
    image: html,
  },
  {
    name: "CSS",
    url: "https://developer.mozilla.org/docs/Web/CSS",
    image: css,
  },
  {
    name: "SQL",
    url: "https://www.w3schools.com/sql/sql_intro.asp",
    image: sql,
  },
]
const supersets = [
  {
    name: "Typescript",
    url: "https://www.typescriptlang.org",
    image: typescript,
  },
  {
    name: "React",
    url: "https://react.dev/learn",
    image: react,
  },
  {
    name: "Tailwind",
    url: "https://tailwindcss.com/docs/installation",
    image: tailwind,
  },
  {
    name: "MySQL",
    url: "https://www.mysql.com/",
    image: mysql,
  },
]
const frameworks = [
  {
    name: "Astro",
    url: "https://docs.astro.build/getting-started/",
    image: astro,
  },
  {
    name: "Next.js",
    url: "https://nextjs.org/docs",
    image: nextjs,
  },
  {
    name: "SASS",
    url: "https://sass-lang.com/documentation/",
    image: sass,
  },
  {
    name: "Drizzle",
    url: "https://orm.drizzle.team/docs/overview",
    image: drizzle,
  },
]

const myLeisureTech = [
  {
    name: "Typescript",
    url: "https://www.typescriptlang.org",
    image: typescript,
  },
  {
    name: "Next.js",
    url: "https://nextjs.org/docs",
    image: nextjs,
  },
  {
    name: "Tailwind",
    url: "https://tailwindcss.com/docs/installation",
    image: tailwind,
  },
  {
    name: "PostgreSQL",
    url: "https://www.postgresql.org/",
    image: postgres,
  },
  {
    name: "NextAuth",
    url: "https://next-auth.js.org/getting-started/introduction",
    image: nextAuth,
  },
  {
    name: "Drizzle",
    url: "https://orm.drizzle.team/docs/overview",
    image: drizzle,
  },
]

const newFurnitureTech = [
  {
    name: "Typescript",
    url: "https://www.typescriptlang.org",
    image: typescript,
  },
  {
    name: "Next.js",
    url: "https://nextjs.org/docs",
    image: nextjs,
  },
  {
    name: "Tailwind",
    url: "https://tailwindcss.com/docs/installation",
    image: tailwind,
  },
  {
    name: "PostgreSQL",
    url: "https://www.postgresql.org/",
    image: postgres,
  },
  {
    name: "NextAuth",
    url: "https://next-auth.js.org/getting-started/introduction",
    image: nextAuth,
  },
  {
    name: "Drizzle",
    url: "https://orm.drizzle.team/docs/overview",
    image: drizzle,
  },
]

const playgroundTech = [
  {
    name: "Typescript",
    url: "https://www.typescriptlang.org",
    image: typescript,
  },
  {
    name: "Astro",
    url: "https://docs.astro.build/getting-started/",
    image: astro,
  },
  {
    name: "ThreeJS",
    url: "https://threejs.org/docs/index.html#manual/en/introduction/Installation",
    image: threejs,
  },
  {
    name: "SASS",
    url: "https://sass-lang.com/documentation/",
    image: sass,
  },
  {
    name: "GSAP",
    url: "https://gsap.com/docs/v3/",
    image: gsap,
  },
]

const myLeisureImages = { dark: myLeisureMainDark, light: myLeisureMain }
const newFurnitureImages = {
  dark: newFurnitureMainDark,
  light: newFurnitureMain,
}
---

<Layout title="Владислав Южев" lang="ru">
  <main>
    <section class="intro">
      <div class="line">
        <p class="line_1">Привет, я Влад Южев</p>
        <p class="line_2">Я <span>Front-end</span> разработчик</p>
        <p class="line_3">
          Меня искренне увлекает веб-разработка, и я всегда готов работать как
          для достижения целей команды, так и для своего личного роста и
          развития.
        </p>
      </div>
      <div class="image">
        <Image src={myPic} alt={"Изображение профиля"} />
      </div>
    </section>

    <section class="projects">
      <h1>Недавние проекты</h1>
      <p class="projects_description">
        Хотя у меня больше опыта работы с Next.js, я не ограничиваю себя только
        одним фреймворком или библиотекой. Я могу изучать и использовать любой
        инструмент по мере необходимости.
      </p>
      <ul class="projects_cards">
        <li>
          <ProjectCard
            locale="ru"
            title="My Leisure"
            images={myLeisureImages}
            imageDefault={myLeisureMain}
            siteLink="https://my-leisure.m2project.dev/"
            githubLink="https://github.com/M201200/my-leisure"
            tech={myLeisureTech}
            pageLink="/ru/my-leisure"
            description="Откройте для себя лучшие фильмы, сериалы и книги, все в одном месте, и добавьте медиа, которое вам понравится в закладки."
          />
        </li>
        <li>
          <ProjectCard
            locale="ru"
            title="New Furniture"
            images={newFurnitureImages}
            imageDefault={newFurnitureMain}
            siteLink="https://new-furniture.m2project.dev/"
            githubLink="https://github.com/M201200/new-furniture"
            tech={newFurnitureTech}
            pageLink="/ru/new-furniture"
            description="Полностью функциональный интернет-магазин мебели."
            flip={true}
          />
        </li>
        <li>
          <ProjectCard
            locale="ru"
            title="The Playground"
            imageDefault={playgroundMain}
            siteLink="https://the-playground.m2project.dev/"
            githubLink="https://github.com/M201200/the-playground"
            tech={playgroundTech}
            pageLink="/ru/playground"
            description="Работа в процессе. В настоящее время этот веб-сайт только демонстрирует различные анимации, но я планирую превратить эти анимации в интерактивные игры."
          />
        </li>
      </ul>
    </section>

    <section class="tech">
      <h1>Тех-стек</h1>
      <p class="tech_description">
        Я в основном специализируюсь на Front-end, хотя также обладаю некоторыми
        навыками Back-end.
      </p>
      <ul class="tech_cards">
        <TechCard tech={base} />
        <TechCard tech={supersets} />
        <TechCard tech={frameworks} />
      </ul>
    </section>

    <section class="contact">
      <a class="contact_link" href="/ru/contacts">
        &#10095;&#10095; Связаться</a
      >
    </section>
  </main>
</Layout>

<style lang="scss">
  main {
    display: grid;

    color: var(--text-primary);
    font-family: Roboto, sans-serif;
  }
  h1 {
    font-size: var(--font-size-fluid-2);
    font-weight: var(--font-weight-9);
    line-height: var(--font-lineheight-0);

    text-transform: uppercase;
    font-family: "Merriweather", serif;
  }

  .intro {
    display: grid;
    justify-content: center;
    gap: 0 4rem;

    min-height: calc(100vh - 6rem);
    min-height: calc(100dvh - 6rem);
    background-image: url("/bg-2.jpg"), var(--splash);

    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-blend-mode: var(--blend-mode);

    .line {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      justify-content: center;
      font-family: "Merriweather", serif;

      &_1 {
        font-size: var(--font-size-fluid-3);
        font-weight: var(--font-weight-9);
        line-height: var(--font-lineheight-0);

        text-wrap: nowrap;

        opacity: 0;
        animation: fadeIn 500ms forwards;

        margin-bottom: var(--gap-xs);
      }

      &_2 {
        font-size: var(--font-size-fluid-2);
        font-weight: var(--font-weight-7);
        line-height: var(--font-lineheight-1);

        margin-bottom: var(--gap-m);

        opacity: 0;
        animation: fadeIn 500ms 1000ms forwards;

        span {
          font-weight: var(--font-weight-9);
          text-wrap: nowrap;
        }
      }

      &_3 {
        font-size: var(--font-size-2);
        font-weight: var(--font-weight-5);
        line-height: var(--font-lineheight-4);
        letter-spacing: var(--font-letterspacing-1);
        font-family: Roboto, sans-serif;
        color: var(--text-heading);

        display: none;

        align-self: start;
        max-inline-size: var(--size-content-3);
        text-wrap: wrap;

        opacity: 0;
        animation: fadeIn 1500ms 1500ms forwards;

        @media screen and (min-width: 1280px) {
          display: block;
        }
      }

      @media screen and (min-width: 1280px) {
        justify-content: center;
        justify-self: end;
      }
    }

    .image {
      justify-self: center;
      padding: 1.5em;

      display: grid;

      filter: contrast(1.1);

      img {
        box-shadow: var(--shadow-2);
        border-radius: 1.5rem;

        align-self: start;
      }

      @media screen and (min-width: 1280px) {
        justify-self: start;
      }
    }

    @media screen and (min-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }

  .projects {
    display: grid;

    padding: 1rem;

    h1 {
      margin-top: var(--gap-l);
      margin-bottom: var(--gap-s);
      margin-left: 1em;
    }

    &_description {
      align-self: start;
      font-size: var(--font-size-1);
      line-height: var(--font-lineheight-4);
      font-weight: var(--font-weight-5);
      letter-spacing: var(--font-letterspacing-1);
      color: var(--text-secondary);

      max-inline-size: 75ch;

      margin-left: 2em;
      margin-bottom: var(--gap-l);
    }

    &_cards {
      display: grid;
      gap: var(--gap-xxl);
    }

    li {
      margin-top: var(--gap-xl);
    }
  }

  .tech {
    padding: 1rem;
    justify-self: center;

    display: grid;
    margin-top: var(--gap-xl);

    min-width: 50vw;

    h1 {
      margin-left: 1em;
      margin-bottom: var(--gap-s);
    }

    &_description {
      align-self: start;
      font-size: var(--font-size-1);
      line-height: var(--font-lineheight-4);
      font-weight: var(--font-weight-5);
      letter-spacing: var(--font-letterspacing-1);
      color: var(--text-secondary);

      max-inline-size: 75ch;

      margin-left: 2em;
      margin-bottom: var(--gap-xxl);
    }

    &_cards {
      display: grid;
      gap: var(--gap-xl);
    }
  }

  .contact {
    display: grid;
    justify-self: center;
    align-items: start;
    align-content: start;

    margin: 6em 0;

    &_link {
      font-size: var(--font-size-fluid-2);
      font-weight: var(--font-weight-9);
      color: var(--text-impact);
      text-transform: uppercase;
      font-family: "Merriweather", serif;

      border: solid 1px var(--stone-4);

      padding: 1.5rem 3rem;

      transition:
        scale 150ms,
        transform 150ms;
      &:hover {
        scale: 1.05;
        transform: translateY(-5%);
      }
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
</style>
