---
import { Image } from "astro:assets"
import Layout from "../../layouts/Layout.astro"

import typescript from "./../../images/tech/typescript.svg"
import tailwind from "./../../images/tech/tailwind.svg"
import mysql from "./../../images/tech/mysql.svg"
import nextAuth from "./../../images/tech/next-auth.svg"
import drizzle from "./../../images/tech/drizzle.svg"
import nextjs from "./../../images/tech/nextjs.svg"

import myLeisureMain from "./../../images/projects/page-images/my-leisure/ru/main.jpg"
import myLeisureMainDark from "./../../images/projects/page-images/my-leisure/ru/main-dark.jpg"
import myLeisureMovies from "./../../images/projects/page-images/my-leisure/ru/movies.jpg"
import myLeisureMoviesDark from "./../../images/projects/page-images/my-leisure/ru/movies-dark.jpg"
import myLeisureBooks from "./../../images/projects/page-images/my-leisure/ru/books.jpg"
import myLeisureBooksDark from "./../../images/projects/page-images/my-leisure/ru/books-dark.jpg"
import myLeisureBookmarks from "./../../images/projects/page-images/my-leisure/ru/bookmarks.jpg"
import myLeisureBookmarksDark from "./../../images/projects/page-images/my-leisure/ru/bookmarks-dark.jpg"
import Carousel from "../../components/Carousel.astro"

import "@fontsource/roboto/500.css"
import "@fontsource/roboto/700.css"
import "@fontsource/roboto/900.css"
import "@fontsource/merriweather/700.css"
import "@fontsource/merriweather/900.css"

const myLeisureSlides = [
  myLeisureMain,
  myLeisureMainDark,
  myLeisureMovies,
  myLeisureMoviesDark,
  myLeisureBooks,
  myLeisureBooksDark,
  myLeisureBookmarks,
  myLeisureBookmarksDark,
]

const tech = [
  {
    name: "Typescript",
    url: "https://www.typescriptlang.org",
    image: typescript,
  },
  {
    name: "Next.js",
    url: "https://nextjs.org/docs",
    image: nextjs,
  },
  {
    name: "Tailwind",
    url: "https://tailwindcss.com/docs/installation",
    image: tailwind,
  },
  {
    name: "MySQL",
    url: "https://www.mysql.com/",
    image: mysql,
  },
  {
    name: "NextAuth",
    url: "https://next-auth.js.org/getting-started/introduction",
    image: nextAuth,
  },
  {
    name: "Drizzle",
    url: "https://orm.drizzle.team/docs/overview",
    image: drizzle,
  },
]
---

<Layout title="Проект: My Leisure" lang="ru">
  <main>
    <section class="info">
      <div class="intro">
        <a class="back" href="/ru">&#10094;&#10094; Назад</a>
        <h1 transition:name={`My Leisure-logo`}>My Leisure</h1>
        <div class="links" transition:name="My Leisure-links">
          <a target="_blank" href="https://my-leisure.m2project.dev/">
            &#10095;&#10095; Прямая ссылка</a
          >
          <a target="_blank" href="https://github.com/M201200/my-leisure">
            &#10095;&#10095; Репо на GitHub</a
          >
        </div>
        <div class="description" transition:name="My Leisure-description">
          <p>
            Откройте для себя лучшие фильмы, сериалы и книги все в одном месте и
            добавьте понравившиеся в закладки.
          </p>
          <h2>Особенности проекта:</h2>
          <ul>
            <li>
              Интеграция с внешними базами данных через соответствующие API (The
              Movie Database (themoviedb.org) и Open Library (openlibrary.org))
            </li>
            <li>
              Данные пользователей безопасно хранятся в базе данных PostgreSQL
              (развернутой на Supabase).
            </li>
            <li>
              Создано с использованием NextJS 14 и развернуто на Vercel (SSR и
              Edge runtime)
            </li>
            <li>Базовый и расширенный поиск</li>
            <li>Аутентификация (NextAuth)</li>
            <li>Добавление в закладки</li>
          </ul>
        </div>
      </div>
      <Carousel title="My Leisure" images={myLeisureSlides} />
    </section>

    <section class="tech">
      <ul transition:name="My Leisure-tech">
        {
          tech.map((item) => (
            <li>
              <a href={item.url} title={item.name} target="_blank">
                <Image src={item.image} alt={item.name} loading="lazy" />
                <p>{item.name}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<style lang="scss">
  main {
    display: grid;
    min-height: 90vh;

    color: var(--text-primary);
    font-family: Roboto, sans-serif;

    padding: 0 2rem;

    gap: var(--gap-xxl);
  }

  h1 {
    font-size: var(--font-size-fluid-3);
    font-weight: var(--font-weight-9);
    line-height: var(--font-lineheight-0);

    font-family: "Merriweather", serif;
  }

  .info {
    display: grid;
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .intro {
    display: grid;

    align-items: start;
    align-content: start;

    margin-top: var(--gap-xxl);

    color: var(--text-primary);
    h1 {
      margin-bottom: var(--gap-s);
    }

    .back {
      justify-self: start;

      font-size: var(--font-size-fluid-1);
      font-weight: var(--font-weight-9);
      color: var(--text-secondary);

      background-color: var(--bg);
      border: none;
      padding: 0.75rem;

      cursor: pointer;
    }

    .links {
      display: flex;
      gap: var(--gap-l);

      margin-bottom: var(--gap-xl);

      a {
        padding: 1em;
        min-width: 9rem;

        text-align: center;

        border: solid 1px var(--bg-button);

        border-radius: 0.5rem;

        box-shadow: var(--shadow-2);

        transition:
          color 200ms,
          scale 150ms;
        &:hover {
          color: var(--text-secondary);
        }

        &:active {
          scale: 0.95;
        }
      }
    }

    .description {
      padding-left: var(--gap-s);
      font-size: var(--font-size-1);
      font-weight: var(--font-weight-5);
      line-height: var(--font-lineheight-4);

      max-inline-size: 60ch;

      p {
        margin-bottom: var(--gap-l);
        color: var(--text-secondary);
      }
      h2 {
        font-size: var(--font-size-fluid-1);
      }

      ul {
        display: grid;
        gap: var(--gap-xs);
        padding-left: var(--gap-m);
        max-inline-size: 60ch;

        li {
          list-style: inside;
        }
      }
    }
  }

  .tech {
    display: grid;
    gap: 2rem;
    font-family: Roboto, sans-serif;

    margin-bottom: var(--gap-xxl);
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, var(--size-fluid-7));
      grid-template-rows: repeat(auto-fit, var(--size-fluid-7));
      gap: var(--gap-xl);
      justify-content: center;
      align-items: center;
      justify-items: center;

      @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(3, var(--size-fluid-7));
      }

      @media screen and (max-width: 480px) {
        grid-template-columns: repeat(2, var(--size-fluid-7));
      }

      li {
        --_transition: 200ms;
        a {
          display: grid;
          justify-items: center;
          gap: var(--gap-xs);
          width: var(--size-fluid-7);
          aspect-ratio: 1;

          box-shadow: var(--shadow-2);

          padding: 0.5em;

          border-radius: 5px;

          transition: scale var(--_transition);

          p {
            font-size: var(--font-size-fluid-0);
            transition: scale var(--_transition);
          }
          img {
            width: var(--size-fluid-5);
            aspect-ratio: 1;
            transition: scale var(--_transition);
          }

          &:hover {
            scale: 0.9;
          }
          &:active {
            scale: 0.85;
          }
          &:hover p,
          &:hover img {
            scale: 1.1;
          }

          &:active p,
          &:active img {
            scale: 1.15;
          }
        }
      }
    }
  }
</style>
