---
import { Image } from "astro:assets"

import "@fontsource/roboto/500.css"
import "@fontsource/roboto/900.css"

type Props = {
  title: string
  images: {
    dark: ImageMetadata
    light: ImageMetadata
  }
  pageLink: string
  siteLink: string
  githubLink: string
  tech: {
    name: string
    image: ImageMetadata
    url: string
  }[]
  description: string
  flip?: boolean
}

const {
  title,
  images,
  pageLink,
  siteLink,
  githubLink,
  tech,
  description,
  flip,
} = Astro.props

const imageDark = images.dark.src
const imageLight = images.light.src
---

<div class="card">
  <a href={pageLink} title={title}>
    <Image
      class:list={["card_image", { right: flip }]}
      src={images.dark}
      alt={title}
      data-dark={imageDark}
      data-light={imageLight}
    />
  </a>
  <div class:list={[{ left: flip }]}>
    <h2>
      {title}
    </h2>
    <ul>
      {
        tech.map((item) => (
          <li>
            <a href={item.url} title={item.name} target="_blank">
              <Image src={item.image} alt={item.name} loading="lazy" />
              <p>{item.name}</p>
            </a>
          </li>
        ))
      }
    </ul>
    <a href={siteLink}> &#10095;&#10095; Live link</a>
    <a href={githubLink}> &#10095;&#10095; Github repo</a>
    <p>{description}</p>
  </div>
</div>

<style lang="scss">
  .card {
    padding: 1rem;
    display: grid;
    gap: var(--gap-xxl);
    font-family: Roboto, sans-serif;

    &_image {
      border-radius: 1rem;
      box-shadow: var(--shadow-2);
      width: 100%;

      transition: scale 300ms;
      &:hover {
        scale: 1.05;
      }
    }

    div {
      display: grid;
      align-content: start;
      gap: var(--gap-l);
    }
    h2 {
      font-size: var(--font-size-fluid-2);
      font-weight: var(--font-weight-9);
      line-height: var(--font-lineheight-0);
      padding-left: 1rem;
      margin-bottom: var(--gap-xs);
    }
    a {
      justify-self: start;

      color: var(--text-impact);
      text-decoration: none;

      transition: color 100ms;

      font-size: var(--font-size-3);
      font-weight: var(--font-weight-5);
      &:hover {
        color: var(--stone-8);
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: var(--gap-xs) var(--gap-s);
      padding-left: 1rem;

      li {
        display: grid;
        justify-items: center;
        a {
          display: grid;
          justify-items: center;

          gap: var(--gap-s);

          padding: 0.25rem;
          aspect-ratio: 1;

          border-radius: 5px;

          transition: box-shadow 150ms;
          img {
            width: var(--size-fluid-3);
            aspect-ratio: 1;
          }

          p {
            font-size: var(--font-size-0);
            font-weight: var(--font-weight-4);
            padding: 0;
          }

          &:hover {
            box-shadow: var(--shadow-2);
          }
        }
      }
    }

    p {
      font-size: var(--font-size-1);
      font-weight: var(--font-weight-5);
      line-height: var(--font-lineheight-4);

      color: var(--text-secondary);

      padding: 0.5rem 1em;

      max-width: 70ch;
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 1024px) {
    .right {
      grid-column: 2/-1;
      grid-row: 1/2;
    }

    .left {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }
</style>

<script>
  const images = document.querySelectorAll(
    ".card_image"
  ) as NodeListOf<HTMLImageElement>

  const root = document.documentElement

  function changeImage() {
    images.forEach((image) => {
      const imageLight = image.dataset.light!
      const imageDark = image.dataset.dark!

      image.src = root.dataset.theme === "dark" ? imageDark : imageLight
    })
  }

  changeImage()

  const observer = new MutationObserver((mutations) =>
    mutations.forEach((mutation) => {
      if (mutation.type === "attributes") {
        changeImage()
      }
    })
  )

  observer.observe(root, { attributes: true })
</script>
